@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #e6e1e1;
}

.firstbanner {
    width: 100%;
    height: 56px;
    background-color: #009AFF;
    text-align: center;
}

.firstbanner img {
    height: inherit;
}

.smallbox {
    width: 100%;
    height: 32px;
    background-color: #F1F1F2;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 19rem;
    padding-left: 8.7rem;
    font-size: small;

}

.smallbox-p {
    display: flex;
    gap: 2rem;
    color: rgba(128, 123, 123, 0.596);
    font-weight: 500;
}

.sell-org {
    color: #F68B1E;
}


.sell-org .fa-star {
    padding: 0.2rem;
    background-color: #F68B1E;
    color: white;
    border-radius: 100%;
    font-size: xx-small;
    margin-right: 0.2rem;

}

.smallbox-p span {
    display: flex;
    align-items: center;
    cursor: default;
}

.smallbox-p span .fa-star {
    color: rgba(128, 123, 123, 0.507);
    margin-right: o.2rem;
}

#special {
    color: black;
}

#special .fa-star {
    background-color: #F68B1E;
    color: white;
    border-radius: 100%;
    font-size: 7px;
    padding: 0.12rem;
    margin-right: 0;
}

#blue-hover,
#black-hover {
    cursor: pointer;
    transition: .3s;
}

#blue-hover:hover {
    color: #009AFF;
}

#blue-hover:hover i {
    color: #009AFF;
}

#black-hover:hover {
    color: black;
}

#black-hover .fa-star {
    border-radius: 100%;
    padding: 0.1rem;
    font-size: 7px;
}

#black-hover:hover .fa-star {
    background-color: #F68B1E;
    color: white;
}

.boxset {
    width: 100%;
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
    margin-bottom: 20px;
}



.link-box {
    width: 70%;
    height: 97%;
    /* background-color: #009AFF; */
    display: flex;
    align-items: center;
    justify-content: space-between;


}


#bigman {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}


#bigman .fa-star {
    font-size: 0.9rem;
    padding: 0.3rem;
    background-color: #F68B1E;
    color: white;
    border-radius: 100%;
}

/* #bigman:hover{
    color: #009AFF;
    cursor: pointer;
    transition: .2s;
}
 */

.search-box {
    width: 60%;
    height: 80%;
    background-color: #F1F1F2;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 0.3rem;
    transition: .2s;
}

.search-box .fa-magnifying-glass {
    font-size: 1.2rem;
    transition: .4s;
}

.search-box input {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1.2rem;
}

.search-box button {
    width: 12%;
    height: 80%;
    border-radius: inherit;
    border: none;
    background-color: #FE9900;
    color: white;

}

.search-box:hover {
    border: 1px solid #FE9900;
    background-color: white;
}

/* .search-box .fa-magnifying-glass:hover {
    font-size: 2.0rem;
    color: #F68B1E;

} */

.search-box:hover .fa-magnifying-glass{
    color: #F68B1E;
    rotate: 360deg;
}

.search-box:hover button{
    background-color: #f3800d;
    cursor: pointer;
}


.link-inbox {
    width: 37%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-inbox span {
    font-size: large;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: #4D4D4F;
}

.link-box span:hover {
    color: #FE9900;
    cursor: pointer;
}

.biggbox{
    width: 85%;
    height: 384px;
    background-color:#009AFF ;
    justify-self: center;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;

}

.inbox{
    width: 20%;
    height: 100%;
    background-color:white ;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: inherit;
}

.centrebox{
    width: 51%;
    height:100% ;
    background-color:#FE9900 ;
    background-image:url(../img/Artboard-1.gif);
    border-radius: inherit;
}

.smallestbox{
    width: 100%;
    height: 48%;
    background-color: #4D4D4F;
    border-radius: inherit;
}

.tic{
    background-image: url(../img/JFORCE-2.gif);
}

.smallestbox span{
    display: flex;
    background-color: white;
    justify-self: center;
    flex-direction: row;
    
    
}